body{
    background-color: rgb(203, 241, 172);
    color: midnightblue;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(245, 234, 191);
    padding:20px;
    margin: 20px;
    font-size: 200%;
    border-radius: 6px;
}
.nav-options{
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.253);
    color: rgb(255, 250, 250);
    padding: 7px 25px;
    text-decoration: none;
    border-radius: 4px;
}
.nav-options:hover{
    background-color: rgba(37, 22, 9, 0.651);
}
.menu-button{
    background-color:salmon;
    color: rgb(255, 250, 250);
    padding: 7px 25px;
    font-size: 80%;
    border: 7px solid rgb(156, 96, 121);
    display: none;
}
.menu-button:hover{
    background-color: rgb(252, 155, 70);
    color: rgb(255, 250, 250)
}
@media (max-width: 860px)
{
    nav{
        flex-direction: column;
    }
    .nav-options{
        margin: 3px 0;
    }
    .menu-button{
        display: inline-block;
        background-color:salmon;
        color: rgb(255, 250, 250);
        padding: 7px 25px;
        font-size: 80%;
        border: 7px solid rgb(156, 96, 121);
        border-radius: 5px;
    }
    .menu-button:hover{
        background-color: rgb(252, 155, 70);
        color: rgb(255, 250, 250)
    }
    .desaparece{
        display: none;
    }
}